@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  --yellow-sopla: #E9D460;
  --green-sopla: #5DCB6B;
}

.bg-yellow-sopla {
  background-color: var(--yellow-sopla);
}

.text-yellow-sopla {
  color: var(--yellow-sopla);
}

.text-green-sopla {
  color: var(--green-sopla);
}
