@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  --yellow-sopla: #E9D460;
  --green-sopla: #5DCB6B;
  --yellow-shadow-sopla: #F1E696;
  --input-sopla: #F1E69633;
  --input-placeholder-sopla: #F1E69680;
}

html {
  scroll-behavior: smooth;
}

.bg-yellow-sopla {
  background-color: var(--yellow-sopla);
}

.bg-green-sopla {
  background: var(--green-sopla);
}

.text-yellow-sopla {
  color: var(--yellow-sopla);
}

.text-green-sopla {
  color: var(--green-sopla);
}

.border-green-sopla {
  border-color: var(--green-sopla);
}

.yellow-shadow-card {
  box-shadow: 0px 10px 15px -3px var(--yellow-shadow-sopla);
}

.bg-input-sopla {
  background-color: var(--input-sopla);
}

.input-text-color {
  color: var(--input-placeholder-sopla);
}

.border-input-sopla {
  border-color: var(--yellow-shadow-sopla);
}